*.bowerrc
*.orig
*.rbc
*.rvmrc
*.ruby-gemset
*.secret
*.swp
/.bundle
/.idea/
/.rubymine*
/.ruby-gemset
/.vscode
/config/credentials.yml.enc
/config/master.key
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-[0-9]*
/.env
/env*.local
/log/*
/log/*.log
/node_modules
/public/assets
/public/packs
/public/packs-test
/public/system
/public/uploads
/rvmrc
/spec/tmp
/storage/*
/tmp
/tmp/*
/vendor/assets/bower_components
/vendor/bundle
/bower.json
/coverage/
/doc/
/powenv
/rerun.txt
/yarn-error.log
/yarn-debug.log*
.yarn-integrity
capybara-*.html
config/initializers/secret_token.rb
pickle-email-*.html
.rspec
.env